# Virtual environments
.venv/
.venv311/

# Dataset
dataset/

# Outputs
outputs/
runs/
logs/

# Jupyter
notebooks/

# Python
__pycache__/
*.pyc

# Model weights
*.pt
*.pth

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db